application-local.yml
application-secrets.yml
*.env
.env
ingestion-service/src/main/resources/application.yml


# Spring Boot / Java
target/
*.class
*.jar
*.war

# Environments / Secrets
.env
application-secret.properties
application-local.properties
